# General
.env
*.user
*.suo
.vs/
bin/
obj/
vendor/
desktop/publish/win-x64/*
backend/storage/uploads/*
!backend/storage/uploads/.gitkeep
!backend/storage/uploads/.htaccess
desktop/FFTicket.Desktop/.env
backend/.env
publish/
publish-standalone/
.agents/
